:root  > * {
  --md-primary-fg-color:#E7AD8A;
}

.datasets-table {
  width: 100%;
  margin: 0 auto;
}

.datasets-table table {
  width: 100%;
  margin: 0 auto;
}

.datasets-table table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.datasets-table table tbody tr:nth-child(even) {
  background-color: #ffffff;
}
