appdirs
beautifulsoup4
brotli
certifi
charset-normalizer
exceptiongroup
filelock
gdown
idna
inflate64
iniconfig
joblib
multivolumefile
numpy
packaging
pandas
platformdirs
pluggy
psutil
py7zr
pybcj
pycryptodomex
pygments
pyppmd
pysocks
pytest
python-dateutil
pytz
pyyaml
pyzstd
requests[socks]
scikit-learn
scipy
six
soupsieve
texttable
threadpoolctl
tomli
tqdm
typing-extensions
tzdata
urllib3